.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: calc(var(--nav-width) + var(--gap) * 2);
  margin-inline-start: auto;
  margin-inline-end: auto;
  line-height: var(--header-height);
  border-top: 3px solid var(--blue);
}

.nav a {
  display: block;
}

.logo,
#menu {
  display: flex;
  margin: auto var(--gap);
}

.logo {
  flex-wrap: inherit;
}

.logo a {
  font-size: 24px;
  font-weight: 700;
  color: transparent;
}

.logo a:hover {
  transition: 0.15s;
  color: transparent;
}

.logo a img,
.logo a svg {
  display: inline;
  /*vertical-align: middle;*/
  vertical-align: bottom;
  pointer-events: none;
  transform: translate(0, -10%);
  border-radius: 6px;
  margin-inline-end: 8px;
}

button#theme-toggle {
  font-size: 26px;
  margin: auto 4px;
}

[data-theme="dark"] #moon {
  /* vertical-align: middle; */
  display: none;
}

#moon:hover {
  transition: 0.5s;
  color: deepskyblue;
}

[data-theme="light"] #sun {
  display: none;
}

#sun:hover {
  transition: 0.5s;
  color: gold;
}

#menu {
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}

#menu li + li {
  margin-inline-start: var(--gap);
}

#menu a {
  font-size: 16px;
}

#menu a:hover {
  transition: 0.15s;
  color: var(--blue);
}

#menu .active {
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}

.lang-switch li,
.lang-switch ul,
.logo-switches {
  display: inline-flex;
  margin: auto 4px;
}

.lang-switch {
  display: flex;
  flex-wrap: inherit;
}

.lang-switch a {
  margin: auto 3px;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary);
}

.lang-switch a:hover {
  margin: auto 3px;
  font-size: 16px;
  font-weight: 500;
  color: var(--blue);
}

.logo-switches {
  flex-wrap: inherit;
}

svg:hover {
  transition: 0.15s;
}

.social-icons a:nth-child(1) svg:hover {
  color: #3b5998 !important;
}

.social-icons a:nth-child(2) svg:hover {
  color: #c13584 !important;
}

.social-icons a:nth-child(3) svg:hover {
  color: #cd201f !important;
}

.social-icons a:nth-child(4) svg:hover {
  color: var(--blue) !important;
}
